#complaintbox {
	font: 75% "Signika", sans-serif;
	height: 700px;
	border-left: #000 2px solid;
	border-right: #000 2px solid;
	margin: 0 auto;
	width: 90%; 
	background: #DDD;
	z-index: 1;
}

#cbHeader{
	background: #000;
	font-size: 24px;
	padding: 33px;
	color: #e74c3c;
}

#cbContr{
    padding:0 50px;;
	font-size: 150%;
	font-weight: 700;
	height: 45px;
	background: #333;
	color: #DDD;
	border-bottom: 2px solid #e74c3c;
}

#cbContr input,select{
	border: 1px solid #555;
    border-radius: 2px;;
	background: rgba(0,0,0,0);
	color: rgba(230,100,70,1);
    font-size: 20px;
    font-variant: 700;
	height: 90%;
}

#cbContr input:hover,select:hover{
    background:rgba(100,100,100,0.5);
}

#cbComplaints{
	height: 550px;
	padding: 0 30px;
	overflow: auto;
}

// Posts
.cbpost:nth-child(2n) {
	background: rgba(235,223,200,0.4);
}

.cbpost{
	font-family: Signika;
	border-left: 4px #e74c3c solid;
	background: rgba(255,255,255,0.4);
	min-height: 60px;
	padding: 5px;
    margin: 20px 0;
    box-shadow: rgba(0,0,0,0.4) 0 0 4px 0;
	clear: both;
}

.cbpost:hover{
    background: rgba(255,255,255,0.8);
}

.cbplus {
	float: left;
	margin: 3px;
	width: 17px;
	height: 17px;
	position: relative;
	top: 11px;
}

.cbvotes{
	height: 50px;
	width: 50px;
	float: left;
	text-align: center;
	font-size: 40px;
	background: rgba(20,10,0,0.9);
	border: #e74c3c 1px solid;
	border-radius: 3px;
	color: #e74c3c;
}

.cbnotvotes{
    padding-left: 100px;
}

.cbcomp *{
	font-size: 150%;
	text-decoration:none;
	font-weight: 700;
}

.cbinfo{
	font-size: 80%;
	font-family: Helvetica;
	margin-top: 10px;
}

.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}
 
.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}