/* CSS for feed ................... */
#feed {
    position: absolute;
    margin : 0;
	display:block;
	float:left;
    width: 800px;
	height: 300px;
	margin-left:400px;
	background: rgba(20,20,20,0.4);
	z-index:4;
}
#feed div {
	font-family: Signika;
}
#feedheader {
	padding: 8px 0 4px;
	background: #9e5c1a; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ff6600 0%, #794711 50%, #5d350b 51%, #e07000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6600), color-stop(50%,#794711), color-stop(51%,#5d350b), color-stop(100%,#e07000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ff6600 0%, #794711 50%, #5d350b 51%, #e07000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ff6600 0%, #794711 50%, #5d350b 51%, #e07000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ff6600 0%, #794711 50%, #5d350b 51%, #e07000 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ff6600 0%,#794711 50%,#5d350b 51%,#eo7000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##ff6600', endColorstr='#e07000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: white;
	font-style: bold;
	/*ff9900 e07000*/
}
#feedmain {
	height: 268px;
	overflow-y: auto;
	overflow-x: hidden;
	background: url(../images/feedbg.jpg);
	z-index:4;
}
.feedpost {
	margin-top: -19px;
	font-family: Helvetica;
	background:rgba(255,255,255,0.75);
	height: 268px;
	z-index:4;
}
.feedposthead {
	padding: 15px;
	text-align: center;
	color: #DDDDEE;
	background: #575757; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #575757 0%, #555555 26%, #535353 51%, #4c4c4c 51%, #505050 62%, #535353 75%, #494949 88%, #3f3f3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#575757), color-stop(26%,#555555), color-stop(51%,#535353), color-stop(51%,#4c4c4c), color-stop(62%,#505050), color-stop(75%,#535353), color-stop(88%,#494949), color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #575757 0%,#555555 26%,#535353 51%,#4c4c4c 51%,#505050 62%,#535353 75%,#494949 88%,#3f3f3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #575757 0%,#555555 26%,#535353 51%,#4c4c4c 51%,#505050 62%,#535353 75%,#494949 88%,#3f3f3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #575757 0%,#555555 26%,#535353 51%,#4c4c4c 51%,#505050 62%,#535353 75%,#494949 88%,#3f3f3f 100%); /* IE10+ */
	background: linear-gradient(135deg,  #575757 0%,#555555 26%,#535353 51%,#4c4c4c 51%,#505050 62%,#535353 75%,#494949 88%,#3f3f3f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#3f3f3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.feedpostdes {
	margin-left: 30px;
	margin-right: 30px;
	height: 140px;
	overflow: auto;
	z-index:4;
}
.feedpostdate {
	margin-left: 70px;
	font-size: 12px;
	color: #002299;
}
.feedpostdate:before {
	content: '  ----';
}
/* CSS for feed ................... */
/* Scrollbar CSS (works only on chrome/Opera)....................*/
::-webkit-scrollbar {
    width: 10px;
    background: #958880;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}
/*---------------------------------*/