.marquee{
  position: relative;
  margin-bottom: 50px;
  height: 500px;
  width: 100%;
  overflow: hidden;
}
.marquee img{
  position: absolute;
  width: 100%;
-webkit-transition: all 0.3s ease-out; 
   -moz-transition: all 0.3s ease-out; 
     -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out; 
  filter: saturate(70%) contrast(100%);
  -webkit-filter: saturate(70%) contrast(100%);
  -moz-filter: saturate(70%) contrast(100%);
  -o-filter: saturate(70%) contrast(100%);
  -ms-filter: saturate(70%) contrast(100%);
}
.marquee img:hover{
  filter: saturate(100%) contrast(120%);
  -webkit-filter: saturate(100%) contrast(120%);
  -moz-filter: saturate(100%) contrast(120%);
  -o-filter: saturate(100%) contrast(120%);
  -ms-filter: saturate(100%) contrast(120%);
}
.marquee .caption{
  padding: 20px;
  background: rgba(0,0,0,0.3);
  position: absolute;
  font-size: 200%;
  bottom: 50px;
}