@charset utf-8;
@font-face {
	font-family:Signika;
	font-style:normal;
	font-weight:300;
	src:url(../fonts/Signika-Light.woff);
}
html,body{
	margin:0px;
}

.myDiv {
	position:relative;
	top:34px;
	z-index:0;
	width:1200px;
	font-family:Signika;
	margin:0 auto;
	background:rgba(255,255,255,0.7);
	height:1000px;
	
}

.fixedHeader {
	font-family:Signika;
	top:0;
	z-index:10;
	position:fixed;
	width:100%;
	margin:0px;
	height:50px;
	background:rgba(0,0,0,0.8);
	text-rendering: optimizeLegibility;
	-webkit-box-shadow:0 2px 6px rgba(0,0,0,.15);
	-moz-box-shadow:0 2px 6px rgba(0,0,0,.15);
	box-shadow:0 2px 6px rgba(0,0,0,.15);
}


.pageHeader nav {
	background:rgba(35,31,32,.8);
	height:80px;
	width:1200px;
	position:absolute;
}

nav#pageNav {
	height:80px;
	background:#222;
	width:1200px;
	position:relative;
}

nav#pageNav ul {
	text-align:center;
}

nav#pageNav ul li {
	font:16px Signika;
	cursor:pointer;
	-webkit-transition:padding .05s linear;
	-moz-transition:padding .05s linear;
	-ms-transition:padding .05s linear;
	-o-transition:padding .05s linear;
	transition:padding .05s linear;
}

nav#pageNav ul li.drop {
	position:relative;
}

nav#pageNav ul > li {
	display:inline-block;
}

nav#pageNav ul li a.heading {
	line-height:80px;
	height:80px;
	color:#777;
	text-decoration:none;
	display:block;
	font-size:1em;
	-webkit-transition:all .1s ease-out;
	-moz-transition:all .1s ease-out;
	-ms-transition:all .1s ease-out;
	-o-transition:all .1s ease-out;
	transition:all .1s ease-out;
	padding:0 45px;
}

nav#pageNav ul li.current a.heading {
	color:#F90;
}

nav#pageNav .dropOut .triangle {
	width:0;
	height:0;
	position:absolute;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid #FFF;
	top:-8px;
	left:50%;
	margin-left:-8px;
}

nav#pageNav .dropdownContain {
	width:160px;
	position:absolute;
	z-index:2;
	left:50%;
	margin-left:-80px;
	top:-500px;
}

nav#pageNav .dropOut {
	width:160px;
	background:#FFF;
	float:left;
	position:relative;
	margin-top:0;
	opacity:0;
	border:2px solid #F90;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow:0 1px 6px rgba(0,0,0,.15);
	box-shadow:0 1px 6px rgba(0,0,0,.15);
	-webkit-transition:all .1s ease-out;
	-moz-transition:all .1s ease-out;
	-ms-transition:all .1s ease-out;
	-o-transition:all .1s ease-out;
	transition:all .1s ease-out;
	
}

nav#pageNav .dropOut ul {
	float:left;
	padding:10px 0;
}

nav#pageNav .dropOut ul li {
	text-align:left;
	float:left;
	width:125px;
	color:#777;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-transition:background .1s ease-out;
	-moz-transition:background .1s ease-out;
	-ms-transition:background .1s ease-out;
	-o-transition:background .1s ease-out;
	transition:background .1s ease-out;
	margin:0 10px;
	padding:12px 0 10px 15px;
}

nav#pageNav .dropOut ul li:hover {
	background:#f6f6f6;
}

nav#pageNav li:hover a.heading {
	color:#FFF;
}

nav#pageNav li:hover a.subheading {
	color:#000;
	text-decoration:none;
}

nav#pageNav ul li:hover .dropdownContain {
	top:65px;
}

nav#pageNav ul li:hover .underline {
	border-bottom-color:#777;
}

nav#pageNav ul li:hover .dropOut {
	opacity:1;
	margin-top:8px;
}
/**********CSS for Student Corner*********************/

.description_content{
	
	position:absolute;
	width:1200px;
	height:498px;
	/*background-image:url(../images/background_footer.jpg);*/
	border-top:2px solid #F90;
	border-bottom:2px solid #F90;	
	color:#FFF;
	z-index:2;
	-webkit-box-shadow:0 2px 6px rgba(0,0,0,.15);
	-moz-box-shadow:0 2px 6px rgba(0,0,0,.15);
	box-shadow:0 2px 6px rgba(0,0,0,.15);
	
}
.hostel_description{
	position:absolute;
	font-family:'Playball',cursive;
	height:300px;
	color:#000;
	font-size:20px;
	width:330px;
	margin-top:10px;
	margin-left:20px;
	
}
/***********Footer*************************************
.footer{
	position:relative;
	z-index:0;
	border-top:2px solid #F90;
	width:1200px;
	font-family:Signika;
	margin:0 auto;
	background-image:url(../images/footer.jpg);
	height:300px;
	overlay:hidden;
	bottom:0px;
}
.footer .footer_quicklinks{
	position:absolute;
	margin-left:50px;
	width:400px;
	color:#FFF;
}
	
.footer .footer_quicklinks li{
	list-style-type:none;
}
.footer .footer_quicklinks li a{
	text-decoration:none;
	color:#FFF;
}
.footer .footer_quicklinks_2{
	position:absolute;
	margin-left:600px;
	margin-top:50px;
	width:200px;
	color:#FFF;
	
}
	
.footer .footer_quicklinks_2 li{
	list-style-type:none;
}
.footer .footer_quicklinks_2 li a{
	text-decoration:none;
	color:#FFF;
}
.footer  li a:hover{
color:#F90;
font-size:17px;
}
*/
.footer{
	margin-top:10px;
	background-image:url(../images/background_footer.jpg);
	position:relative;
	width:100%;
	height:300px;
	border-bottom:1px solid #F90;
	font-family:Signika;
	bottom:0px;
}
.footercontent{
	position:relative;
	background-image:url(../images/footer_background.png);
	color:#CCC;
	text-align:center;
	width:1200px;
	height:300px;
	margin:0px auto;
	overflow:hidden;
}
.connect{
	position:absolute;
	width:150px;
	top:20px;
	margin-left:600px;
	right:20px;
	border:3px solid #FFF;
	
	
}
.footercontent img{
	margin:16px auto;
	padding-right:5px;
	cursor:pointer;
	
}
#quicklinks{
	position:absolute;
	
	text-align:left;
	
	color:#CCC;
	margin-top:0px;
	margin-left:20px;
}

#quicklinks li{
	list-style:none;
	background:rgba(255,255,255,0.8);
	display:block;
	color:#CCC;
	margin-left:0px;
	
}
#quicklinks li a{
	text-decoration:none;
	float:left;
	color:#999;
}
#quicklinks li a:hover{
color:#F90;

}	
	
	
	
	
	
	
	
	
	
	
	