.warden{
	position:relative;
	width:1096px;
	margin:50px;
	height:350px;
	border-left:2px solid #e74c3c;
	border-right:2px solid #e74c3c;
	-webkit-box-shadow:0 2px 6px rgba(0,0,0,.15);
	-moz-box-shadow:0 2px 6px rgba(0,0,0,.15);
	box-shadow:0 2px 6px rgba(0,0,0,.15);
}
.side{
	position:absolute;
	height:100%;
	width:50px;
	margin:auto;
	float:left;
	border-bottom-left-radius:15px;
	border-top-left-radius:15px;
	background-color:#e74c3c;
	color:white;
}
.warden_mem{
	position:relative;
	height:300px;
	width:200px;
	float:left;
	margin:25px;
}
.sgm{
	position:relative;
	width:1096px;
	margin:50px;
	height:550px;
	border-left:2px solid #e74c3c;
	border-right:2px solid #e74c3c;
	-webkit-box-shadow:0 2px 6px rgba(0,0,0,.15);
	-moz-box-shadow:0 2px 6px rgba(0,0,0,.15);
	box-shadow:0 2px 6px rgba(0,0,0,.15);
}
.sgm_mem{
	position:relative;
	height:45%;
	margin-top:18px;
	width:210px;
	float:left;
	margin-left:50px;
	background-color:#333;
}
.description{
	color:#000000;
	width:1100px;
	position:relative;
	margin:50px;
	text-wrap:normal;
}
.staff{
	position:relative;
	width:500px;
	height:100%;
	float:left;
}
.people_content{
	height:100%;
    overflow: auto;
}
.staff .item{
    padding: 15px;
    background:#222;
}
.staff .item:nth-child(2n){
    padding: 15px;
    background:#111;
}
.staff .item:hover{
    background: rgba(34,34,34,0.9);
    color: #f75c4c;
}
.staff-description{
    font-size: 80%;
    padding-left: 15px;
}
.member_description{
	width:100%;
	height:100%;
	opacity:0;
	line-height:2em;
	font-size:20px;
}
.member_description:hover{
	background:rgba(0,0,0,0.5);
	opacity:1;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;				
}
.staffnstaff{
	margin:50px;
	height: 400px;
}