 <link rel="stylesheet" href="css/pagelayout.css" />
  <link rel="stylesheet" href="css/marquee.css" />
  <link rel="stylesheet" href="css/header_login.css" />
<script type="text/javascript" src="js/vendor/jquery-1.10.1.min.js" ></script>
<script>
	$(document).ready(function(e) {
        $(this).fadeIn(2000);
    });
</script>
<style>
	.member_description{
		width:100%;
		height:100%;
		opacity:0;
		line-height:2em;
		font-size:20px;
		
	}

	.member_description:hover{
		background:rgba(0,0,0,0.5);
		opacity:1;
			-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
				
	}
	</style>

    
   <div class="content" style="margin-bottom:50px;">
   	<div class="description">
    <h2 id="warden">WARDENS</h2><hr />
    <p>Discipline in the hostel is maintained by 3 wardens. They are also a final point of contact for students with concern 
    regarding state of affairs and help students solve their problems. Their contacts have been provided below. To view, just
    hover over their images.
    </p>
    </div>
    <div  class="warden">
    	 <div class="warden_mem" >
        	
            <div class="member_description">
            <center>
            <label>Name:</label>Blah Blah #1
            <label>Contact:</label>1234567890;
             </center>
            </div>
           
        </div>
        
        <div class="warden_mem">
        	
            <div class="member_description">
            <center>
             <label>Name:</label>Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
            
        </div>
        
        <div class="warden_mem">
        	
            <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #3
            <label>Contact:</label>1234567890;
            </center>
            </div>

        </div>
        
     </div>
     <div  class="description">
     <h2 id="sgm">STUDENT GYMKHANA</h2><hr />
     <p>Any Institute requires a functional, robust and effective Student Body that caters to the requirements of the students.
     IIT Indore's Student Body Council or as we call it, Student Gymkhana comprises of 8 dedicated members. Click here to go to 
     our dedicated <a href =" ">Student Gymkhana Website</a>
     </div>
     <div class="sgm">
    	<div class="sgm_mem" >
         <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
        </div>
        
        <div class="sgm_mem">
         <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
        </div>
        
        <div class="sgm_mem">
         <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
        </div>
        
        <div class="sgm_mem">
         <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
        </div>
        
        <div class="sgm_mem">
         <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
        </div>
         
         <div class="sgm_mem">
         <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
        </div>
        
         <div class="sgm_mem">
         <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
        </div>
        
         <div class="sgm_mem">
         <div class="member_description">
            <center>
            <label>Name:</label>   Blah Blah #2
            <label>Contact:</label>1234567890;
            </center>
            </div>
        </div>
    </div>
    <div style="width:100%;border-bottom:2px dotted #e74c32;height:auto;"></div>
    <div class="warden">
    <div class="staff">
    	<div id="astaff" class="side">
        	<p>A<br />D<br />M<br />I<br />N<br />S<br />T<br />A<br />F<br />F</p>
        </div>
        <div  class="people_content">
        <table style="margin-left:100px;text-align:right;" cellpadding="10" cellspacing="10">
        	<tr>
            	<td>MR.asdfjkl qwertyui</td>
                <td>5679654</td>
              </tr>
          <tr>
          		<td></td><td>kiuyfvbn@gmail.com</td>
          </tr>
        </table>
         </div>
    </div>
    <div class="staff" style="float:right;">
    	<div id="hstaff"  class="side">
        	<p>H<br />O<br />S<br />T<br />E<br />L<br />S<br />T<br />A<br />F<br />F</p>
        </div>
        <div class="people_content">
        <ul>
            <li>Person A</li>
            <li>Person A</li>
            <li>Person A</li>
            <li>Person A</li>
            <li>Person A</li>
            <li>Person A</li>
            <li>Person A</li>
            <li>Person A</li>
            <li>Person A</li>
            <li>Person A</li>
       </ul>
         </div>
    </div>
    </div>
   
   </div>  
  
  <script type="text/javascript" src="js/farinspace/jquery.imgpreload.min.js" ></script>
  <script type="text/javascript" src="js/marquee.js"></script>
  <script type="text/javascript" src="js/index.js" ></script>
  <script src="js/header_login.js"></script>