<link rel="stylesheet" href="css/people.css" />

<div class="content" style="margin-bottom:50px;">
	<div class="description">
    <h2 id="warden">WARDENS</h2><hr/>
    <p>Discipline in the hostel is maintained by 4 wardens. They are also a final point of contact for students with concern 
    regarding state of affairs and help students solve their problems. Their contacts have been provided below. To view, just
    hover over their images.
    </p>
  </div>
  <div class="warden">
    <div ng-repeat="warden in wardens" class="warden_mem" style="background:{{warden.photo}};background-repeat:no-repeat;">
      <a style="text-decoration:none;color:white;" href="{{warden.link}}" target="_blank">
        <div class="member_description">
        <center>
        {{warden.name}}<br>
        {{warden.contact}}
        </center>
        </div>
      </a>
    </div>
  </div>

  <div  class="description">
    <h2 id="sgm">STUDENT GYMKHANA</h2><hr/>
    <p>Any Institute requires a functional, robust and effective Student Body that caters to the requirements of the students.
    IIT Indore's Student Body Council or as we call it, Student Gymkhana comprises of 8 dedicated members. Click here to go to 
    our dedicated <a href =" ">Student Gymkhana Website</a>
  </div>

  <div class="sgm">
  	<div ng-repeat="sgm in sgms" class="sgm_mem" style="background:{{sgm.photo}};background-repeat:no-repeat;">
      <div class="member_description">
        <center>
        {{sgm.name}}<br>
        {{sgm.contact}}
        </center>
      </div>
    </div>
  </div>

<div style="width:100%;border-bottom:2px dotted #e74c32;height:auto;"></div>
<div class="staffnstaff">
  <div class="staff">
  	<div id="astaff" class="side">
      	<p style="margin-left:15px;">A<br>D<br>M<br>I<br>N<br><br>S<br>T<br>A<br>F<br>F</p>
    </div>
    <div style="margin-left:50px;" class="people_content">
      <div ng-repeat="admin in admins" class="item">
        <div class="staff-head">
          {{admin.name}}
        </div>
        <div class="staff-description">
          {{admin.designation}}<br>{{admin.contact}}
        </div>
      </div>
    </div>
  </div>
  <div class="staff" style="float:right;">
  	<div id="hstaff" class="side">
     	<p style="margin-left:15px;">E<br>S<br>T<br>A<br>T<br>E<br> <br>O<br>F<br>F<br>I<br>C<br>E<br></p>
    </div>
    <div style="margin-left:50px;" class="people_content">
      <div ng-repeat="admin in staff" class="item">
        <div class="staff-head">
          {{admin.name}}
        </div>
        <div class="staff-description">
          {{admin.designation}}<br>{{admin.contact}}
        </div>
      </div>
    </div>
  </div>
</div>